/* Fonts */
@font-face {
  font-family: IBM;
  src: url("fonts/IBMPlexMono-Regular.ttf") format("opentype");
}
@font-face {
  font-family: Figtree;
  src: url("fonts/Figtree-VariableFont_wght.ttf") format("opentype");
}
@font-face {
  font-family: ReenieBeenie;
  src: url("fonts/ReenieBeanie-Regular.ttf") format("opentype");
}

/* Global Styles */
body {
  font-family: "Figtree", sans-serif;
  font-size: 1.2rem;
  overflow-x: hidden;
  background-color: whitesmoke;
}

/* body *,
body button {
  cursor: none !important;
} */

/* NAV BAR */
header nav {
  display: flex;
  margin: -1rem;
  height: 2.5rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: 1.5px solid gainsboro;
  background-color: whitesmoke;
}

nav a {
  color: #593915;
  text-decoration: none;
  font-family: IBM;
  font-size: 0.85rem;
  position: relative;
  display: inline-block;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

nav ul {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin: 0;
}

.nav-right ul {
  gap: 1.35rem;
}

nav a:hover {
  animation-name: pulse;
}

button {
  background: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 1px solid #593915;
  border-radius: 21%;
  color: #593915;
  transition: all 0.6s ease-in;
  /* animation-duration: 2s; */
}

button:hover {
  animation-name: pulse;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 2rem;
}

.footer {
  background-color: #8ba6a9;
  margin-left: -10rem;
  margin-right: -10rem;
  margin-bottom: -10rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

/* .footer ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding-top: 0.5rem;
}

.footer a {
  color: #593915;
  font-size: 2rem;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #cacc90;
} */

/* STICKYS */
.mainNote {
  position: relative;
  background-color: #cacc90;
  font-family: ReenieBeenie;
  width: 24rem;
  height: 12rem;
  transform: rotate(-4.2deg);
  transition: 0.5s;
  background-image: linear-gradient(#59391582 0.1em, transparent 0.1em);
  background-size: 100% 1.7em;
}

.mainNote:hover {
  transform: rotate(-6deg) scale(1.25);
  z-index: 40;
}

.intro {
  text-align: left;
  padding: 2.5rem 1rem;
  font-size: 2.5rem;
  line-height: 2.1rem;
}

.aboutNote {
  background-color: #a7cecb;
  --s: 25px;
  --w: 300px;
  width: round(var(--w), 4 * var(--s));
  aspect-ratio: 1;
  padding: var(--s);
  border: var(--s) solid #0000;
  box-sizing: border-box;
  mask:
    radial-gradient(calc(sqrt(2) * var(--s)), #000 calc(100% - 1px), #0000),
    conic-gradient(#000 0 0) content-box,
    radial-gradient(calc(sqrt(2) * var(--s)), #0000 100%, #000 calc(100% + 1px))
      var(--s) var(--s) padding-box;
  mask-size: calc(var(--s) * 4) calc(var(--s) * 4);
  transform: rotate(7.2deg);
  transition: 0.5s;
  margin-left: -3rem;
}

.aboutNote:hover {
  transform: rotate(5deg) scale(1.25);
}

.aboutText {
  padding-top: 1rem;
  font-family: ReenieBeenie;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 600;
  text-align: center;
}

.stickys {
  display: flex;
}

/* GRID GRID GRID */

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-item {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
}

.projectImg {
  width: 100%;
  display: flex;
  justify-content: center;
}

.projectImg img {
  width: 100%;
  height: auto;
}

.projectImg img {
  width: 90%;
  display: block;
  margin: 0 auto;
}
.projectInfo {
  width: 90%;
  text-align: left;
  margin-top: 15px;
  color: #969696;
}

.projectYear {
  font-family: "IBM";
  font-size: 0.8rem;
}

.projectTitle {
  font-weight: 400;
  font-family: sans-serif;
  font-size: 1.2rem;
  padding: 8px 0;
}

.projectDesc {
  font-size: 1rem;
}

/* CURSOR */
@media (any-pointer: fine) {
  .c-cursor {
    display: block;
  }

  .c-cursor__inner {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    border-radius: 50%;
    z-index: 50;
  }

  .c-cursor__side {
    position: absolute;
    top: 50%;
    width: 5px;
    height: 1px;
    background: #fff;
    opacity: 0;
  }

  .c-cursor__side--left {
    right: calc(100% + 5px);
  }

  .c-cursor__side--right {
    left: calc(100% + 5px);
  }

  .c-cursor__inner--circle {
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
  }
}

/* POLAROID */
.polaroid {
  background: #fff;
  width: 18%;
  padding: 0.75rem;
}
.polaroid > img {
  max-width: 100%;
  height: auto;
}
.caption {
  font-size: 1.5rem;
  text-align: center;
  font-family: "ReenieBeenie";
  color: #8ba6a9;
}

.photo {
  position: relative;
  display: inline-block;
  border: 4px solid white;
  transform: rotate(-10.2deg);
  transition: 0.5s;
  margin-top: -5rem;
  margin-left: -10rem;
}

.photo:hover {
  transform: rotate(4deg) scale(1.25);
}

.photo:before {
  content: "";
  display: block;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.topTapeHoriz:before {
  width: 100px;
  height: 30px;
  position: absolute;
  top: -15px;
  left: 50px;
}

/* PLAYGROUND */
.fridge {
  position: relative;
  width: 100vw;
  height: 95vh;
  overflow: hidden;
}

.magnet {
  position: absolute;
  width: fit-content;
  padding: 0.5rem;
  background-color: white;
  font-family: "IBM";
  font-size: 0.8rem;
  color: black;
  border: #969696 solid 0.5px;
  touch-action: none;
  user-select: none;
}

.magnet:active {
  cursor: grabbing;
}

#scatterBtn {
  position: absolute;
  margin: 3.5rem;
}

#playground {
  height: 100vh;
  padding: 0;
  background-color: #cacc90;
}

.projectLink {
  text-decoration: none;
  color: #969696;
  transition: 2s;
}

.projectLink:hover {
  transform: scale(1.08);
}

/*PROJECT PAGE */
.projectContainer {
  align-items: stretch;
  display: flex;
  margin: 0.5rem;
  font-family: "Figtree", "Arial Narrow", Arial, sans-serif;
  font-size: 14.5px;
}

.sideNav {
  padding-top: 1.5rem;
}

.sideNav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sideNav li {
  display: block;
  width: 100%;
}

.sideNav a {
  display: block;
  padding: 1rem 1.5rem 0 1.5rem;
  text-decoration: none;
  color: #818181;
}

.projectOver {
  flex-grow: 1;
  background-color: #f4f4f4;
  border-left: #818181 solid 1px;
  margin: 0.8rem 0;
}

.projectBackground {
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
  width: 70%;
}

.projectBackground h2 {
  font-size: 35px;
  margin-bottom: 0;
  color: #593915;
}

.projectBackground h3 {
  font-size: 25px;
  margin-bottom: 0;
  color: #593915;
}

.projectBackground p,
.projectBackground li {
  font-size: 15px;
  line-height: 20px;
}

.projectBackground li {
  margin-bottom: 0.25rem;
}

/* FEEDBACK CONTAINER */

.feedbackContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.feedback {
  width: 20rem;
  border: #000 solid 2px;
  text-align: left;
  padding: 0.85rem;
}
.checked {
  color: orange;
}
