/* Fonts */
@font-face {
  font-family: IBM;
  src: url("fonts/IBMPlexMono-Regular.ttf") format("opentype");
}
@font-face {
  font-family: Figtree;
  src: url("fonts/Figtree-VariableFont_wght.ttf") format("opentype");
}
@font-face {
  font-family: ReenieBeenie;
  src: url("fonts/ReenieBeanie-Regular.ttf") format("opentype");
}

/* Global Styles */
body {
  font-family: "Figtree", sans-serif;
  font-size: 1.2rem;
  overflow-x: hidden;
}

/* NAV BAR */
header nav {
  display: flex;
  margin: -1rem;
  height: 2.5rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: 1.5px solid gainsboro;
  background-color: whitesmoke;
}

nav a {
  color: #593915;
  text-decoration: none;
  font-family: IBM;
  font-size: 0.85rem;
  position: relative;
  display: inline-block;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

nav ul {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin: 0;
}

.nav-right ul {
  gap: 1.35rem;
}

.nav-right a:hover {
  animation-name: pulse;
}

button {
  background: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 1px solid #593915;
  border-radius: 21%;
  color: #593915;
  transition: all 0.6s ease-in;
  /* animation-duration: 2s; */
}

button:hover {
  animation-name: pulse;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 2rem;
}

/* Index Page */
#indexPage {
  background: whitesmoke;
  color: #593915;
}

#indexPage nav a {
  color: #593915;
}

.footer {
  background-color: #8ba6a9;
  margin-left: -10rem;
  margin-right: -10rem;
  margin-bottom: -10rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

/* .footer ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding-top: 0.5rem;
}

.footer a {
  color: #593915;
  font-size: 2rem;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #cacc90;
} */

/* STICKYS */
.mainNote {
  position: relative;
  background-color: #cacc90;
  font-family: ReenieBeenie;
  width: 24rem;
  height: 12rem;
  transform: rotate(-4.2deg);
  transition: 0.5s;
  background-image: linear-gradient(#59391582 0.1em, transparent 0.1em);
  background-size: 100% 1.7em;
}

.mainNote:hover {
  transform: rotate(-6deg) scale(1.25);
  z-index: 40;
}

.intro {
  text-align: left;
  padding: 2.5rem 1rem;
  font-size: 2.5rem;
  line-height: 2.1rem;
}

.aboutNote {
  background-color: #a7cecb;
  --s: 25px;
  --w: 300px;
  width: round(var(--w), 4 * var(--s));
  aspect-ratio: 1;
  padding: var(--s);
  border: var(--s) solid #0000;
  box-sizing: border-box;
  mask:
    radial-gradient(calc(sqrt(2) * var(--s)), #000 calc(100% - 1px), #0000),
    conic-gradient(#000 0 0) content-box,
    radial-gradient(calc(sqrt(2) * var(--s)), #0000 100%, #000 calc(100% + 1px))
      var(--s) var(--s) padding-box;
  mask-size: calc(var(--s) * 4) calc(var(--s) * 4);
  transform: rotate(7.2deg);
  transition: 0.5s;
  margin-left: -3rem;
}

.aboutNote:hover {
  transform: rotate(5deg) scale(1.25);
}

.aboutText {
  padding-top: 1rem;
  font-family: ReenieBeenie;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 600;
  text-align: center;
}

.stickys {
  display: flex;
}

/* CURSOR */
@media (any-pointer: fine) {
  .c-cursor {
    display: block;
  }

  .c-cursor__inner {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    border-radius: 50%;
    z-index: 50;
  }

  .c-cursor__side {
    position: absolute;
    top: 50%;
    width: 5px;
    height: 1px;
    background: #fff;
    opacity: 0;
  }

  .c-cursor__side--left {
    right: calc(100% + 5px);
  }

  .c-cursor__side--right {
    left: calc(100% + 5px);
  }

  .c-cursor__inner--circle {
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
  }
}
